.askme-logo{
    height: 40px;
    margin-top: -10px;
}
.askme-logo a{
    color: #fff;
}
.askme-logo a:hover {
    color: #aaa;
}
.askme-nav-avatar {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}

.question {
    margin-bottom: 50px;
}

.question-avatar {
    width: 80px;
    height: 80px
}

.question-body {
    margin-top: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

.answer {
    margin-top: 50px;
    margin-bottom: 50px;
    /*border-style: solid;
    border-color: red;*/
}

.answer-body {
    margin-bottom: 0.5em;
}

.answer-panel {
    /*margin-bottom: 50px;*/
    padding-top: 0px;
}


.askme-meta {
    color: #999;
    padding-top: .5em;
}

.askme-textarea {
    resize: vertical;
}

.askme-icon {
    color: #aaa;
}
.askme-icon:hover {
    color: #777;
}

.askme-tags {
    padding-bottom: 5px;
}


.askme-badge, .askme-label{
  background-color: #ccc;
}
.askme-badge:hover, .askme-label:hover{
  background-color: #999;
}

.askme-pagination {
    margin-bottom: 50px;
}

.askme-tags a {
}

.askme-tags a:hover {
    text-decoration: none;
}


.form-group img{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
