{% extends "_ext_base.html" %}

{% load popular_tags %}
{% load best_members %}

{% block title %}{% endblock %}

{% block base_extension %}

<div class="row">
    <div class="col-md-9">
        {% block content %}{% endblock %}
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Popular tags</div>
            <div class="panel-body">

                {% popular_tags %}

                {% for tag in popular_tags %}
                    {% if forloop.last %}
                        <a href="/tag/{{ tag }}">{{ tag }}</a>
                    {% else %}
                        <a href="/tag/{{ tag }}">{{ tag }}</a>,
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Best members</div>
            <div class="panel-body">

                {% best_members %}

                {% for members in best_members %}
                    {% if forloop.last %}
                        <a href="#">{{ members }}</a>
                    {% else %}
                        <a href="#">{{ members }}</a>,
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
