<div class="question">
    <div class="media">
        <div class="media-left">
            {% with question.user.profile as profile %}
                {% include "_inc_avatar_media.html" %}
            {% endwith %}
        </div>
        <div class="media-body">
            <a href="/question/{{ question.id }}"><h4 class="media-heading">{{ question.title }}</h4></a>

            {% if show_body %}
                <div class="question-body">
                    {{ question.text }}
                </div>
            {% endif %}

            <div class="askme-meta">
                <div class="row">
                    <div class="col-md-7">
                        <p>{{ question.date }} <a href="#">{{ question.user }}</a>
                    </div>
                    <div class="col-md-5 text-right">
                        <a href="/question/{{ question.id }}">Answers <span class="badge askme-badge">{{ question.answer_set.all|length }}</span></a> |
                        <a href="/question/{{ question.id }}">Votes <span class="badge askme-badge">{{ question.vote_sum }}</span></a>
                        <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-triangle-top askme-icon js-vote" data-id="{{ question.id }}" data-type="question-like" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-triangle-bottom askme-icon js-vote" data-id="{{ question.id }}" data-type="question-dislike" aria-hidden="true"></span>
                        </button>
                        <p>
                            [{{ question.vote_sum }}]
                            {% for questionvote in question.questionvote_set.all %}
                                {{ questionvote.user }}({{ questionvote.vote }})
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="askme-tags text-right">
                {% for tag in question.tags.all %}
                    <a href="/tag/{{ tag }}"><span class="label label-default askme-label">{{ tag }}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
