{% extends "_ext_base_centered.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

<div class="panel panel-default askme-panel">
    <div class="panel-heading">Sign up</div>
    <div class="panel-body">

        {% include "_inc_form_default.html" with button_name='Submit' %}

    </div>
</div>

<div class="panel panel-default askme-panel">

    <div class="panel-heading">Sign up</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="enter email" maxlength="64">
                </div>
            </div>
            <div class="alert alert-danger" role="alert">Sorry, this email address allready registered!</div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="login">Login:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="login" placeholder="enter login" maxlength="32">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd" placeholder="enter password" maxlength="32">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Repeat password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd2" placeholder="enter password once again">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="avatar">Avatar file:</label>
                <div class="col-sm-10">
                    <label class="btn btn-default btn-file">
                        Browse <input type="file" style="display: none;">
                    </label>
                    <img src="{% static 'img/batman.jpg' %}" class="media-object img-thumbnail question-avatar">
                </div>
            </div>
            <div class="alert alert-danger" role="alert">Sorry, this email address allready registered!</div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}
