{% extends "_ext_base_right_column.html" %}

{% block title %}Tag{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
        Tagged questions: <strong>{{ tag_name }}</strong>
    </div>
</div>

{% if page %}

    {% for question in page %}
        {% include "_inc_question.html" %}
    {% endfor %}

    {% url 'tag' as tag_url %}
    {% include "_inc_paginator.html" with paginator_url=tag_url %}

{% else %}
    <div class="alert alert-warning" role="alert">Sorry, there is nothing to show you.</div>
{% endif %}

{% endblock %}
