{% extends "_ext_base_right_column.html" %}

{% block title %}Test{% endblock %}

{% load static %}

{% block content %}

<div class="question">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'img/batman.jpg' %}" class="media-object img-thumbnail question-avatar">
        </div>
        <div class="media-body">
            <a href="#"><h4 class="media-heading">What is Lorem Ipsum?</h4></a>
            <div class="askme-meta">
                <div class="row">
                    <div class="col-md-6">
                        <p>December 14, 2013 by <a href="#">Batman</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#">Answers <span class="badge askme-badge">5</span></a> |
                        <a href="#">Rank <span class="badge askme-badge">10</span></a>
                        <button type="button" class="btn btn-default btn-xs question-like">
                                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs question-dislike">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="askme-tags text-right">
                <a href="#"><span class="label label-default askme-label">harvey dent</span></a>
                <a href="#"><span class="label label-default askme-label">joker</span></a>
                <a href="#"><span class="label label-default askme-label">gotham</span></a>
            </div>
        </div>
    </div>
</div>


<div class="question">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'img/bart.jpg' %}" class="media-object img-thumbnail question-avatar">
        </div>
        <div class="media-body">
            <a href="#"><h4 class="media-heading">Where does it come from?</h4></a>
            <div class="askme-meta">
                <div class="row">
                    <div class="col-md-6">
                        <p>December 14, 2013 by <a href="#">Bart</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#">Answers <span class="badge askme-badge">5</span></a> |
                        <a href="#">Rank <span class="badge askme-badge">10</span></a>
                        <button type="button" class="btn btn-default btn-xs question-like">
                                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs question-dislike">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="askme-tags text-right">
                <a href="#"><span class="label label-default askme-label">family</span></a>
                <a href="#"><span class="label label-default askme-label">yellow</span></a>
                <a href="#"><span class="label label-default askme-label">skate</span></a>
            </div>
        </div>
    </div>
</div>

<div class="question">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'img/hdr.jpg' %}" class="media-object img-thumbnail question-avatar">
        </div>
        <div class="media-body">
            <a href="#"><h4 class="media-heading">Why do we use it?</h4></a>
            <div class="askme-meta">
                <div class="row">
                    <div class="col-md-6">
                        <p>December 14, 2013 by <a href="#">Hdr</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#">Answers <span class="badge askme-badge">5</span></a> |
                        <a href="#">Rank <span class="badge askme-badge">10</span></a>
                        <button type="button" class="btn btn-default btn-xs question-like">
                                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs question-dislike">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="askme-tags text-right">
                <a href="#"><span class="label label-default askme-label">file</span></a>
                <a href="#"><span class="label label-default askme-label">indexing</span></a>
                <a href="#"><span class="label label-default askme-label">system</span></a>
            </div>
        </div>
    </div>
</div>

<div class="question">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'img/homer.jpg' %}" class="media-object img-thumbnail question-avatar">
        </div>
        <div class="media-body">
            <a href="#"><h4 class="media-heading">Where can I get some?</h4></a>
            <div class="askme-meta">
                <div class="row">
                    <div class="col-md-6">
                        <p>December 14, 2013 by <a href="#">Homer</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#">Answers <span class="badge askme-badge">5</span></a> |
                        <a href="#">Rank <span class="badge askme-badge">10</span></a>
                        <button type="button" class="btn btn-default btn-xs question-like">
                                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs question-dislike">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="askme-tags text-right">
                <a href="#"><span class="label label-default askme-label">file</span></a>
                <a href="#"><span class="label label-default askme-label">indexing</span></a>
                <a href="#"><span class="label label-default askme-label">system</span></a>
            </div>
        </div>
    </div>
</div>

<div class="question">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'img/starwars.jpg' %}" class="media-object img-thumbnail question-avatar">
        </div>
        <div class="media-body">
            <a href="#"><h4 class="media-heading">What is Lorem Ipsum?</h4></a>
            <div class="askme-meta">
                <div class="row">
                    <div class="col-md-6">
                        <p>December 14, 2013 by <a href="#">Starwars</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#">Answers <span class="badge askme-badge">5</span></a> |
                        <a href="#">Rank <span class="badge askme-badge">10</span></a>
                        <button type="button" class="btn btn-default btn-xs question-like">
                                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs question-dislike">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="askme-tags text-right">
                <a href="#"><span class="label label-default askme-label">file</span></a>
                <a href="#"><span class="label label-default askme-label">indexing</span></a>
                <a href="#"><span class="label label-default askme-label">system</span></a>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <ul class="pagination pagination-centered askme-pagination">
        <li class="disabled"><a href="#">&lt</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt</a></li>
    </ul>
</div>

{% endblock %}
